*{
    margin: 0;
    padding: 0;
}
.row-top{
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px 2px black;

}
.column-top{
    position: absolute;
    top: 30px;
    left: 60%;
    transform: translateX(-20%) translateY(5px);

}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    color: darkcyan;
    display: inline-block;
    font-weight: lighter;
    font-size: 23px;
    padding: 0 20px;
}
.navigation::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: cadetblue;
    transition: width .3s
}
.navigation:hover::after{
    width: 100%;
    transition: width .3s
}
.img{
    width: 80px;
    height: 85px;
    padding-left: 130px;
    padding-top: 8px;
}
#logout{
    border: 2px solid darkcyan;
    font-weight: bold;
}
#logout:hover{
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}
h2{
    padding-top: 50px;
    padding-right: 150px;
    color: darkcyan;
    display: inline-block;
}
.edit{
    float: right;
    font-size: 20px;
    margin-top: 48px;
    outline: none;
    text-decoration: none;
    color: darkcyan;
    border: 1px solid darkcyan;
}
.edit:hover{
    background-color: darkcyan;
    color: white;
}
.profile-cv{
    width: 80%;
    margin-top: 10px;
    border-bottom: 1px solid darkcyan;
    margin-left: 150px;
    display: inline-block;
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
    }
}